<div class="chat-index">
  <h2>メッセージ一覧</h2>

  <% @orders.each do |order| %>
    <table>
      <tr>
        <%= link_to order.listing_work.user.name, chat_path(user.id) %>
        <%= order.listing_work.name %>
      </tr>
    </table>
  <% end %>
</div>