<div class="proposal-new" style="width: 80%; margin: 0 auto;">
<h4>提案文一覧</h4>
  <table>
    <% @proposals.each do |proposal| %>
    <tr>
      <th>依頼名</th>
      <td><%= link_to proposal.order_work.name, order_work_path %></td>
    </tr>
    <tr>
      <th>提案内容</th>
      <td><%= proposal.statement %></td>
    </tr>
    <tr>
      <th>提案期間</th>
      <td><%= proposal.term %></td>
    </tr>
    <tr>
      <th>提案料金</th>
      <td><%= proposal.price %></td>
    </tr>
    <% end %>
  </table>
</div>
