<% if model.errors.any? %>
  <div id="error_explanation">
    <h4>
    	<p>エラーが発生しました。</p>
    	<p>以下ご確認お願いします。</p>
    </h4>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>